/* ------------------------------------------------------------ 
Description: Chingu Voyage 3 - Toucans-30 
Authors: Richard, Kyrizu, Monali Ghosh
------------------------------------------------------------ */

/* ------------------------------------------------------------ 
 Global Styles
 ------------------------------------------------------------ */

 .italic {
 	font-style: italic;
 }

 .small-font {
 	font-size: 1rem; /* 16px / 16px */
 }

 .float-left {
 	float: left;
 }

 .float-right {
 	float: right;
 }

 .clear-float {
 	clear: both;
 }


/* ------------------------------------------------------------ 
 Base Styles
 ------------------------------------------------------------ */
 html, body {
 	height: 100%;
 }

 body {
 	font-family: 'Nunito', sans-serif;
 	font-size: 1.25rem; /* 20px / 16px */
 	font-weight: 400;
 	color: #000;
 	background: #f4e2be;
 	height: 100%;
 	overflow-x: hidden;

 }

 .wrapper {
 	width: 100%;
 	height: 100%;
 	position: relative;
 }

 h1 {
 	font-family: 'Josefin Sans', sans-serif;
 	font-size: 3rem; /* 48px / 16px */
 	font-weight: 600;
 	color: #000;
 	text-align: center;
 	text-transform: uppercase;
 }

 h1:after {
 	content: "";
 	display: block;
 	height: 3px;
 	width: 130px;
 	margin: -6px auto 0;
 	background: #dc636c;
 }


 main {
 	height: 100%;
 	position: relative;
 	transition: all 600ms cubic-bezier(.8,-.5,.2,1);
 	margin-left: 70px;
 }

/* ------------------------------------------------------------ 
 Navigation Styles
 ------------------------------------------------------------ */

 nav {
 	position: fixed;
 	top: 0;
 	left: 0;
 	height: 100%;
 	background: #0f5378;
 	z-index: 10;
 	min-width: 70px;
 }

 .navigation {
 	position: relative;
 	margin: 6rem auto;
 	transition: all 600ms cubic-bezier(.8,-.5,.2,1.4);
 	width: 260px;
 	margin-left: -220px;
 	text-align: center;
 }

 #hamMenu {
 	display: none;
 }

 .menuToggle {
 	cursor: pointer;
 	position: fixed;
 	display: block;
 	width: 40px;
 	height: 40px;
 	top: 25px;
 	left: 15px;
 	z-index: 11;
 }

 .menu-line1,
 .menu-line2,
 .menu-line3 {
 	display: block;
 	left: 0;
 	position: relative;
 	background: #f4e2be;
 	height: 5px;
 	transition: .4s ease-in-out;
 }

 .menu-line1 {
 	top: 0;
 }
 .menu-line2 {
 	top: 10px;
 	opacity: 1;
 }
 .menu-line3 {
 	top: 20px;
 }

 #hamMenu:checked ~ label.menuToggle > div.menu-line1,
 .menuToggle:hover > div.menu-line1 {
 	transform: rotate(135deg);
 	top: 13px;
 }

 #hamMenu:checked ~ label.menuToggle > div.menu-line3,
 .menuToggle:hover > div.menu-line3 {
 	transform: rotate(-135deg);
 	top: 3px;
 }

 #hamMenu:checked ~ label.menuToggle > div.menu-line2,
 .menuToggle:hover > div.menu-line2 {
 	left: -40px;
 	opacity: 0;
 }

 #hamMenu:checked ~ nav > div.navigation {
 	margin-left: 0;
 }

 #hamMenu:checked ~ main {
 	transform: translateX(185px);
 }


 .logo-sm {
 	position: absolute;
 	bottom: 6%;
 	left: -90%;
 	transform: rotate(-90deg) translate(-6%, 90%);
 	font-size: 2rem;
 	color: #f4e2be;
 	font-weight: 700;
 }


 .navigation > ul {
 	list-style-type: none;
 	padding: 0;
 	margin: 0 1.5rem 0 1rem;
 	text-align: center;
 }

 .navigation > ul > li {
 	padding: 1.2rem;
 }

.logo {
 	color: #f4e2be;
 	font-size: 2.2rem;
 	font-weight: 700;
 }

 .logo > span,
  .logo-sm > span {
 	font-weight: 400;
 	color: #80c3e7;
 }

 .navlink {
 	color: #f1c66a;
 	position: relative;
 }


 .navlink:after {
 	content: "";
 	display: block;
 	position: absolute;
 	left: 50%;
 	transform: translateX(-50%);
 	bottom: -5px;
 	height: 3px;
 	background: #dc636c;
 	width: 0;
 	transition: width 0.5s ease;
 }

 .navlink:hover:after {
 	color: #000;
 	width: 80%;
 }

p {
    font-family: 'Nunito', monospace;
}

/* ------------------------------------------------------------ 
 Home Styles
 ------------------------------------------------------------ */

#home{
    background: #73C4EF;
}

.container{
    display: flex;
}

.adj{
    justify-content: center;
    align-items: center;
}

.home-desc{
    text-align: center;
    width: 40%;
    padding-bottom: 30px;
}

.slogan{
    color: white;
}

.slack-logo{
    width: 50px;
    height: 50px;
    padding: 0;
    margin: 0;
    
}
.slack-button-text{
    display: inline-block;
    
}

.robot-container{
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
}

.circle{
    width: 300px;
    height: 300px;
    margin-left: 10px;
    background: #FFD05C; 
    padding: 5px;
    -webkit-border-radius: 50%; 
       -moz-border-radius: 50%; 
            border-radius: 50%;
}

.robot{
    position: relative;
    right:3px;
    top: 13px;
}

.head{
    position: relative;
    width: 100px;
    height: 85px;
    margin: 0 auto;
    justify-content: center;
    background: #e7eaec;
    z-index: 100;
    top: 3px;
    padding: 5px;
    
    -webkit-border-radius: 50%; 
      -moz-border-radius: 50%; 
           border-radius: 50%;
    
    -webkit-box-shadow: inset -4px -4px 0px 1px #dcd9d9;
       -moz-box-shadow: inset -4px -4px 0px 1px #dcd9d9;
            box-shadow: inset -4px -4px 0px 1px #dcd9d9;
}

.eye-container{
    position: relative;
    display: flex;
    width: 100px;
    justify-content: space-around;
    margin-top: 7px;
    margin-left: -7px;
    padding: 5px;
}

.right-eye{
    position: relative;
    width: .4vw;
    height: .4vw;
    max-height: 22px;
    max-width: 22px;
    min-height: 4px;
    min-width: 4px;
    background: #393939; 

    margin-top: 7px;
    margin-left: 1px;
    padding: 5px;
    
    border: 8px solid #096688;
    
   -webkit-border-radius: 50%; 
      -moz-border-radius: 50%; 
           border-radius: 50%;
}

.right-eye::before{
    position: absolute;
    content: '';
    width: .75vw;
    height: .75vw;
    max-height: 12px;
    max-width: 12px;
    min-height: 9px;
    min-width: 9px;
    
    background: rgba(255,255,255,0.4);
    
    top: -1px;
    left: -4px;
    
    
   -webkit-border-radius: 50%; 
      -moz-border-radius: 50%; 
           border-radius: 50%;
}


.left-eye{
    position: relative;
    width: .4vw;
    height: .4vw;
    max-height: 22px;
    max-width: 22px;
    min-height: 4px;
    min-width: 4px;
    background: #393939; 


    margin-top: 7px;
    margin-left: 4px;
    padding: 5px;
    
    border: 8px solid #096688;
    
   -webkit-border-radius: 50%; 
      -moz-border-radius: 50%; 
           border-radius: 50%;
    
}


.left-eye::before{
    position: absolute;
    content: '';
    width: .75vw;
    height: .75vw;
    max-height: 12px;
    max-width: 12px;
    min-height: 9px;
    min-width: 9px;
    
    background: rgba(255,255,255,0.4);
    
    top: -1px;
    left: -4px;
    
   -webkit-border-radius: 50%; 
      -moz-border-radius: 50%; 
           border-radius: 50%;
}


.mouth{
    position: absolute;
    width: 50%;
    left: 22%;
    top: 52%;
    height: 10px;
    width: 51px;
    padding: 5px;
    
    border-bottom: 9px solid #222;
    
   -webkit-border-radius: 100%; 
      -moz-border-radius: 100%;
           border-radius: 100%;
}

.torso {
    position: relative;
    display: inline-block;
    overflow: hidden;
  /**outline: solid 1px;/**/
    width: 11em;
    height: 8.66em;
    top: -120px;
    padding: 5px;
    transform: rotate(60deg) skewX(30deg);
    z-index: 2;
}

.torso:before{
    display: block;
    content: '';

    width: inherit; height: 60%;
    transform: skewX(-30deg) rotate(-60deg) translate(-1.25em, 6em);

    background: -webkit-linear-gradient(-90deg, rgba(255,255,255,0.8) 0, rgba(255,255,255,0.4) 18%, rgba(255,255,255,0.2) 51%, rgba(180,180,180,0.2) 99%, rgba(180,180,180,0.2) 100%), -webkit-radial-gradient(3% 7%, rgba(232,234,249,1) 0, rgba(165,165,198,1) 27%, rgba(150,161,188,1) 38%, rgba(107,122,155,1) 65%, rgba(87,98,124,1) 100%);
    background: -moz-linear-gradient(180deg, rgba(255,255,255,0.8) 0, rgba(255,255,255,0.4) 18%, rgba(255,255,255,0.2) 51%, rgba(180,180,180,0.2) 99%, rgba(180,180,180,0.2) 100%), -moz-radial-gradient(3% 7%, rgba(232,234,249,1) 0, rgba(165,165,198,1) 27%, rgba(150,161,188,1) 38%, rgba(107,122,155,1) 65%, rgba(87,98,124,1) 100%);
    background: linear-gradient(180deg, rgba(255,255,255,0.8) 0, rgba(255,255,255,0.4) 18%, rgba(255,255,255,0.2) 51%, rgba(180,180,180,0.2) 99%, rgba(180,180,180,0.2) 100%), radial-gradient(at 3% 7%, rgba(232,234,249,1) 0, rgba(165,165,198,1) 27%, rgba(150,161,188,1) 38%, rgba(107,122,155,1) 65%, rgba(87,98,124,1) 100%);

     background-position: 50% 50%;
      -webkit-background-origin: padding-box;
    background-origin: padding-box;
      -webkit-background-clip: border-box;
    background-clip: border-box;
      -webkit-background-size: auto auto;
    background-size: auto auto;
    
    
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
    border-top-left-radius: 150px;
    border-bottom-left-radius: 100px;
}

.chest-display{
    display: block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    
    width: 90px;
    height: 45px;
    position: relative;
    overflow: hidden;
    padding: 5px;
    top: -175px;
    left: 101.5px;
    
    border: 2px solid rgba(0,161,213,1);
    -webkit-border-radius: 25px / 50px;
      -moz-border-radius: 25px / 50px; 
    border-radius: 25px / 50px;
    
    font: normal 50%/normal Tahoma, Geneva, sans-serif;
    color: rgba(255,255,255,1);
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    
    background: -webkit-radial-gradient(rgba(137,198,229,1) 0, rgba(12,127,181,1) 80%, rgba(11,103,137,1) 100%);
    background: -moz-radial-gradient(rgba(137,198,229,1) 0, rgba(12,127,181,1) 80%, rgba(11,103,137,1) 100%);
    background: radial-gradient(rgba(137,198,229,1) 0, rgba(12,127,181,1) 80%, rgba(11,103,137,1) 100%);
    background-position: 50% 50%;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: auto auto;
    background-size: auto auto;
    
    -webkit-box-shadow: 0 0 2px 1px rgba(0,0,0,0.5);
       -moz-box-shadow: 0 0 2px 1px rgba(0,0,0,0.5);
            box-shadow: 0 0 2px 1px rgba(0,0,0,0.5);
    z-index: 3;
}

.right-arm{
    position: relative;
    width: 80px;
    height: 100px;
    
    top: -244px;
    left: 175px;
    
  transform: scaleY(-1) rotate(9deg);
  -webkit-transform: scaleY(-1) rotate(9deg);
  -moz-transform: scaleY(-1) rotate(9deg);
}
.right-shoulder{
    position: relative;
    width: 20px;
    height: 20px;
    
    left: 52px;
    top: 69px;
    z-index: 2;
    
    background: -webkit-linear-gradient(180deg, rgba(255,255,255,0.8) 0, rgba(255,255,255,0.4) 18%, rgba(255,255,255,0.2) 51%, rgba(180,180,180,0.2) 99%, rgba(180,180,180,0.2) 100%), radial-gradient(at 90% 30%, rgb(232,234,249) 0, rgb(165,165,198) 92%, rgb(150,161,188) 58%, rgb(107,122,155) 35%, rgb(87,98,124) 100%), rgba(0,0,0,0);
    background: -moz-linear-gradient(180deg, rgba(255,255,255,0.8) 0, rgba(255,255,255,0.4) 18%, rgba(255,255,255,0.2) 51%, rgba(180,180,180,0.2) 99%, rgba(180,180,180,0.2) 100%), radial-gradient(at 90% 30%, rgb(232,234,249) 0, rgb(165,165,198) 92%, rgb(150,161,188) 58%, rgb(107,122,155) 35%, rgb(87,98,124) 100%), rgba(0,0,0,0);
    background: linear-gradient(180deg, rgba(255,255,255,0.8) 0, rgba(255,255,255,0.4) 18%, rgba(255,255,255,0.2) 51%, rgba(180,180,180,0.2) 99%, rgba(180,180,180,0.2) 100%), radial-gradient(at 39% -3%, rgb(121,132,157) 0, rgb(115,125,149) 29%, rgb(150,161,188) 48%, rgb(165,174,195) 29%, rgb(64,71,86) 100%), rgba(0,0,0,0);
    border-radius: 50%;
    
    transform: rotate(-160deg)
}

.right-upper-arm{
    position: relative;
    width: 50px;
    height: 15px;
    
    top: 24px;
    left: 43px;
        
    background: -webkit-linear-gradient(180deg, rgba(216, 216, 216, 0.8) 0, rgba(216, 216, 216,0.4) 38%, rgba(216, 216, 216,0.2) 51%, rgba(156, 156, 156,0.2) 99%, rgba(86, 86, 86,0.2) 100%), radial-gradient(at 79% 43%, rgb(138, 145, 160) 0, rgb(159, 166, 182) 82%, rgb(115, 125, 149) 58%, rgb(165, 174, 195) 35%, rgb(167, 176, 195) 100%), rgba(0,0,0,0);
    background: -moz-linear-gradient(180deg, rgba(216, 216, 216, 0.8) 0, rgba(216, 216, 216,0.4) 38%, rgba(216, 216, 216,0.2) 51%, rgba(156, 156, 156,0.2) 99%, rgba(86, 86, 86,0.2) 100%), radial-gradient(at 79% 43%, rgb(138, 145, 160) 0, rgb(159, 166, 182) 82%, rgb(115, 125, 149) 58%, rgb(165, 174, 195) 35%, rgb(167, 176, 195) 100%), rgba(0,0,0,0);
    background: linear-gradient(180deg, rgba(216, 216, 216, 0.8) 0, rgba(216, 216, 216,0.4) 38%, rgba(216, 216, 216,0.2) 51%, rgba(156, 156, 156,0.2) 99%, rgba(86, 86, 86,0.2) 100%), radial-gradient(at 79% 43%, rgb(138, 145, 160) 0, rgb(159, 166, 182) 82%, rgb(115, 125, 149) 58%, rgb(165, 174, 195) 35%, rgb(167, 176, 195) 100%), rgba(0,0,0,0);
    
    transform: rotate(95deg) skewX(-8deg); 
}

.right-elbow{
    position: relative;
    width: 20px;
    height: 20px;
    z-index: 2;
    
    top: -18px;
    left: 60px;
    
   -webkit-border-radius: 50%; 
      -moz-border-radius: 50%; 
           border-radius: 50%;
    
    background: -webkit-linear-gradient(180deg, rgba(216, 216, 216, 0.8) 0, rgba(216, 216, 216,0.4) 38%, rgba(216, 216, 216,0.2) 51%, rgba(156, 156, 156,0.2) 99%, rgba(86, 86, 86,0.2) 100%), radial-gradient(at 79% 43%, rgb(138, 145, 160) 0, rgb(159, 166, 182) 82%, rgb(115, 125, 149) 58%, rgb(165, 174, 195) 35%, rgb(167, 176, 195) 100%), rgba(0,0,0,0);
    background: -moz-linear-gradient(180deg, rgba(216, 216, 216, 0.8) 0, rgba(216, 216, 216,0.4) 38%, rgba(216, 216, 216,0.2) 51%, rgba(156, 156, 156,0.2) 99%, rgba(86, 86, 86,0.2) 100%), radial-gradient(at 79% 43%, rgb(138, 145, 160) 0, rgb(159, 166, 182) 82%, rgb(115, 125, 149) 58%, rgb(165, 174, 195) 35%, rgb(167, 176, 195) 100%), rgba(0,0,0,0);
    background: linear-gradient(180deg, rgba(216, 216, 216, 0.8) 0, rgba(216, 216, 216,0.4) 38%, rgba(216, 216, 216,0.2) 51%, rgba(156, 156, 156,0.2) 99%, rgba(86, 86, 86,0.2) 100%), radial-gradient(at 7% 43%, rgb(138, 145, 160) 0, rgb(159, 166, 182) 62%, rgb(115, 125, 149) 58%, rgb(165, 174, 195) 35%, rgb(167, 176, 195) 100%), rgba(0,0,0,0);
}

.right-lower-arm{
    position: relative;
    width: 40px;
    height: 14px;
    
    top: -52px;
    left: 38px;
        
    background: -webkit-linear-gradient(180deg, rgba(216, 216, 216, 0.8) 0, rgba(216, 216, 216,0.4) 38%, rgba(216, 216, 216,0.2) 51%, rgba(156, 156, 156,0.2) 99%, rgba(86, 86, 86,0.2) 100%), radial-gradient(at 79% 43%, rgb(138, 145, 160) 0, rgb(159, 166, 182) 82%, rgb(115, 125, 149) 58%, rgb(165, 174, 195) 35%, rgb(167, 176, 195) 100%), rgba(0,0,0,0);
    background: -moz-linear-gradient(180deg, rgba(216, 216, 216, 0.8) 0, rgba(216, 216, 216,0.4) 38%, rgba(216, 216, 216,0.2) 51%, rgba(156, 156, 156,0.2) 99%, rgba(86, 86, 86,0.2) 100%), radial-gradient(at 79% 43%, rgb(138, 145, 160) 0, rgb(159, 166, 182) 82%, rgb(115, 125, 149) 58%, rgb(165, 174, 195) 35%, rgb(167, 176, 195) 100%), rgba(0,0,0,0);
    background: linear-gradient(180deg, rgba(216, 216, 216, 0.8) 0, rgba(216, 216, 216,0.4) 38%, rgba(216, 216, 216,0.2) 51%, rgba(156, 156, 156,0.2) 99%, rgba(86, 86, 86,0.2) 100%), radial-gradient(at 79% 43%, rgb(138, 145, 160) 0, rgb(159, 166, 182) 82%, rgb(115, 125, 149) 58%, rgb(165, 174, 195) 35%, rgb(167, 176, 195) 100%), rgba(0,0,0,0);
    
    
    border-top-right-radius: 150%;
    transform: rotate(-125deg) skewX(-8deg); 
}

.left-arm{
    position: relative;
    width: 80px;
    height: 100px;
    
    top: -325px;
    
    transform: scaleY(1) rotate(190deg);
    -webkit-transform: scaleY(1) rotate(190deg);
    -moz-transform: scaleY(1) rotate(190deg);
}

.left-shoulder{
    position: relative;
    width: 20px;
    height: 20px;
    
    left: 2px;
    top: 97px;
    z-index: 2;
    
    background: -webkit-linear-gradient(180deg, rgba(255,255,255,0.8) 0, rgba(255,255,255,0.4) 18%, rgba(255,255,255,0.2) 51%, rgba(180,180,180,0.2) 99%, rgba(180,180,180,0.2) 100%), radial-gradient(at 90% 30%, rgb(232,234,249) 0, rgb(165,165,198) 92%, rgb(150,161,188) 58%, rgb(107,122,155) 35%, rgb(87,98,124) 100%), rgba(0,0,0,0);
    background: -moz-linear-gradient(180deg, rgba(255,255,255,0.8) 0, rgba(255,255,255,0.4) 18%, rgba(255,255,255,0.2) 51%, rgba(180,180,180,0.2) 99%, rgba(180,180,180,0.2) 100%), radial-gradient(at 90% 30%, rgb(232,234,249) 0, rgb(165,165,198) 92%, rgb(150,161,188) 58%, rgb(107,122,155) 35%, rgb(87,98,124) 100%), rgba(0,0,0,0);
    background: linear-gradient(180deg, rgba(255,255,255,0.8) 0, rgba(255,255,255,0.4) 18%, rgba(255,255,255,0.2) 51%, rgba(180,180,180,0.2) 99%, rgba(180,180,180,0.2) 100%), radial-gradient(at 90% 30%, rgb(232,234,249) 0, rgb(165,165,198) 92%, rgb(150,161,188) 58%, rgb(107,122,155) 35%, rgb(87,98,124) 100%), rgba(0,0,0,0);
    
    
   -webkit-border-radius: 50%; 
      -moz-border-radius: 50%; 
           border-radius: 50%;
}

.left-upper-arm{
    position: relative;
    width: 50px;
    height: 15px;
    
    top: 50px;
    left: -8px;
        
    background: -webkit-linear-gradient(180deg, rgba(255,255,255,0.8) 0, rgba(255,255,255,0.4) 18%, rgba(255,255,255,0.2) 51%, rgba(180,180,180,0.2) 99%, rgba(180,180,180,0.2) 100%), radial-gradient(at 90% 30%, rgb(232,234,249) 0, rgb(165,165,198) 92%, rgb(150,161,188) 58%, rgb(107,122,155) 35%, rgb(87,98,124) 100%), rgba(0,0,0,0);
    background: -moz-linear-gradient(180deg, rgba(255,255,255,0.8) 0, rgba(255,255,255,0.4) 18%, rgba(255,255,255,0.2) 51%, rgba(180,180,180,0.2) 99%, rgba(180,180,180,0.2) 100%), radial-gradient(at 90% 30%, rgb(232,234,249) 0, rgb(165,165,198) 92%, rgb(150,161,188) 58%, rgb(107,122,155) 35%, rgb(87,98,124) 100%), rgba(0,0,0,0);
    background: linear-gradient(180deg, rgba(255,255,255,0.8) 0, rgba(255,255,255,0.4) 18%, rgba(255,255,255,0.2) 51%, rgba(180,180,180,0.2) 99%, rgba(180,180,180,0.2) 100%), radial-gradient(at 90% 30%, rgb(232,234,249) 0, rgb(165,165,198) 92%, rgb(150,161,188) 58%, rgb(107,122,155) 35%, rgb(87,98,124) 100%), rgba(0,0,0,0);
    
    transform: rotate(95deg) skewX(-8deg); 
}

.left-elbow{
    position: relative;
    width: 20px;
    height: 20px;
    z-index: 2;
    
    top: 8px;
    left: 9px;
    
   -webkit-border-radius: 50%; 
      -moz-border-radius: 50%; 
           border-radius: 50%;
    
    background: -webkit-linear-gradient(180deg, rgba(255,255,255,0.8) 0, rgba(255,255,255,0.4) 18%, rgba(255,255,255,0.2) 51%, rgba(180,180,180,0.2) 99%, rgba(180,180,180,0.2) 100%), radial-gradient(at 90% 30%, rgb(232,234,249) 0, rgb(165,165,198) 92%, rgb(150,161,188) 58%, rgb(107,122,155) 35%, rgb(87,98,124) 100%), rgba(0,0,0,0);
    background: -moz-linear-gradient(180deg, rgba(255,255,255,0.8) 0, rgba(255,255,255,0.4) 18%, rgba(255,255,255,0.2) 51%, rgba(180,180,180,0.2) 99%, rgba(180,180,180,0.2) 100%), radial-gradient(at 90% 30%, rgb(232,234,249) 0, rgb(165,165,198) 92%, rgb(150,161,188) 58%, rgb(107,122,155) 35%, rgb(87,98,124) 100%), rgba(0,0,0,0);
    background: linear-gradient(180deg, rgba(255,255,255,0.8) 0, rgba(255,255,255,0.4) 18%, rgba(255,255,255,0.2) 51%, rgba(180,180,180,0.2) 99%, rgba(180,180,180,0.2) 100%), radial-gradient(at 90% 30%, rgb(232,234,249) 0, rgb(165,165,198) 82%, rgb(150,161,188) 68%, rgb(107,122,155) 15%, rgb(87,98,124) 100%);
}

.left-lower-arm{
    position: relative;
    width: 40px;
    height: 14px;
    
    top: -23px;
    left: -8px;
        
    background: -webkit-linear-gradient(180deg, rgba(255,255,255,0.8) 0, rgba(255,255,255,0.4) 18%, rgba(255,255,255,0.2) 51%, rgba(180,180,180,0.2) 99%, rgba(180,180,180,0.2) 100%), radial-gradient(at 90% 30%, rgb(232,234,249) 0, rgb(165,165,198) 92%, rgb(150,161,188) 58%, rgb(107,122,155) 35%, rgb(87,98,124) 100%), rgba(0,0,0,0);
    background: -moz-linear-gradient(180deg, rgba(255,255,255,0.8) 0, rgba(255,255,255,0.4) 18%, rgba(255,255,255,0.2) 51%, rgba(180,180,180,0.2) 99%, rgba(180,180,180,0.2) 100%), radial-gradient(at 90% 30%, rgb(232,234,249) 0, rgb(165,165,198) 92%, rgb(150,161,188) 58%, rgb(107,122,155) 35%, rgb(87,98,124) 100%), rgba(0,0,0,0);
    background: linear-gradient(180deg, rgba(255,255,255,0.8) 0, rgba(255,255,255,0.4) 18%, rgba(255,255,255,0.2) 51%, rgba(180,180,180,0.2) 99%, rgba(180,180,180,0.2) 100%), radial-gradient(at 80% 30%, rgb(232,234,249) 0, rgb(165,165,198) 88%, rgb(150,161,188) 58%, rgb(107,122,155) 35%, rgb(87,98,124) 100%), rgba(0,0,0,0);
    
    transform: rotate(-125deg) skewX(-8deg); 
}

.legs-container{
    position: relative;
    width: 100px;
    height: 100px;
    top: -369px;
    left: 104px;
    z-index: 1;
}

.flame{
    position: relative;
    width: 40px;
    height: 45px;
    
    left: 30px;
    top: 12px;
    
    /*background: url(/imgs/robotFlame.png) center center no-repeat;
    background-size: cover;*/
    
    background: -webkit-linear-gradient(180deg, rgba(255,255,255,0.8) 0, rgba(255,255,255,0.4) 18%, rgba(255,255,255,0.2) 51%, rgba(180,180,180,0.2) 99%, rgba(180,180,180,0.2) 100%), -webkit-radial-gradient(3% 7%, rgba(232,234,249,1) 0, rgba(165,165,198,1) 27%, rgba(150,161,188,1) 38%, rgba(107,122,155,1) 65%, rgba(87,98,124,1) 100%);
    background: -moz-linear-gradient(180deg, rgba(255,255,255,0.8) 0, rgba(255,255,255,0.4) 18%, rgba(255,255,255,0.2) 51%, rgba(180,180,180,0.2) 99%, rgba(180,180,180,0.2) 100%), -moz-radial-gradient(3% 7%, rgba(232,234,249,1) 0, rgba(165,165,198,1) 27%, rgba(150,161,188,1) 38%, rgba(107,122,155,1) 65%, rgba(87,98,124,1) 100%);
    background: linear-gradient(250deg, rgba(255,255,255,0.8) 0, rgba(255,255,255,0.4) 28%, rgba(255,255,255,0.2) 51%, rgba(180,180,180,0.2) 99%, rgba(180,180,180,0.2) 100%), radial-gradient(at 50% 27%, rgba(232,234,249,1) 0, rgba(165,165,198,1) 27%, rgba(150,161,188,1) 28%, rgba(107,122,155,1) 75%, rgba(87,98,124,1) 100%);
    
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px
}
			
/* ------------------------------------------------------------ 
 About Us Styles
 ------------------------------------------------------------ */

 .about-us {
 	width: 60%;
 	max-width: 1300px;
 	margin: 0 auto;
 }

 .about-us-intro {
 	display: inline-block;
 	width: 48%;
 	margin-bottom: 2rem;
 }

 .about-us-team {
 	background: #dfcaa1;
 	text-align: center;
 	min-height: 285px;
 }

 .about-us-team-profile {
 	margin: 0 auto;
 	width: 80%;
 }

 .about-us-team-profile > ul {
 	list-style-type: none;
 	padding: 0;
 	height: 100%;
 }

 .about-us-team-profile > ul > li {
 	display: inline-block;
 	position: relative;
 	height: 130px;
 	width: 130px;
 	border: 10px solid rgba(255,255,255,0.3);
 	border-radius: 50%;
 	margin: 2rem 5rem;
 }

 .about-us-team-profile > ul > li > img {
 	border-radius: 50%;
 	width: 100%;
 }

 .about-us-team-profile > ul > li:before {
 	content: "";
 	position: absolute;
 	color: #000;
 	font-weight: 700;
 	font-size: 1.375rem; /* 22px / 16px */
 	top: 150%;
 	left: 50%;
 	-webkit-transform: translate(-50%, -150%);
 	transform: translate(-50%, -150%);
 	width: 200px;

 }

 .about-us-team-profile > ul > li:after {
 	content: "";
 	position: absolute;
 	color: #000;
 	font-weight: 400;
 	top: 180%;
 	left: 50%;
 	-webkit-transform: translate(-50%, -180%);
 	transform: translate(-50%, -180%);
 	width: 200px;
 }

 .about-us-team-profile > ul li:nth-child(1):before {
 	content: "Monali Ghosh";
 }

 .about-us-team-profile > ul li:nth-child(1):after {
 	content: "Project Manager";
 }


 .about-us-team-profile > ul li:nth-child(2):before {
 	content: "Kyrizu";
 }

 .about-us-team-profile > ul li:nth-child(2):after {
 	content: "Support";
 }


 .about-us-team-profile > ul li:nth-child(3):before {
 	content: "Richard Graham";
 }

 .about-us-team-profile > ul li:nth-child(3):after {
 	content: "Support";
 }


/* ------------------------------------------------------------ 
 Features Styles
 ------------------------------------------------------------ */
#features{
    background: #DC636C;
    padding: 10px;
    margin-top: -20px;
    min-height: 300px;
    text-align: center;
}

.feature-list{
    margin-left: -10px 
}

.feature{    
    display: inline-block;
    width: 22vw;
    height: auto;
    position: relative;
    
    margin: 1vw;
    
    text-align: center;
    overflow: hidden;
    
    
    -webkit-box-shadow: 1px 3px 20px 3px rgba(0,0,0,0.5);
       -moz-box-shadow: 1px 3px 20px 3px rgba(0,0,0,0.5);
 	        box-shadow: 1px 3px 20px 3px rgba(0,0,0,0.5);
}

.feature-pic{
    position: relative;
    width: 100%;
    height: 17.5vw;
    background: #F1C66A;
    
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.feature-pic>img{
    width: 55%;
    padding-top: 3vw;
}

.feature-desc{
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 75px;
    
    background: #FAFAFA;
    font-size: 17px;
    padding-top: 1vw;
    padding-bottom: 1vw;
    
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}

.feature-demo{
    width: 22vw;
    height: 30px;
    margin-left: -10px;
    
    color: white;
    background-color: #5cb85c;
    text-align: center;
    border-color: #4cae4c;
    border-radius: 7px;
    overflow: hidden;
}

.feature-btn{
    margin-top: 5px;
}

.feature-demo:hover{
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
    
    text-decoration: none;
    overflow: hidden;
}

.code{
    background: #ededed;
    color: #ed143d;
    padding: 1px 5px 1px 5px;
}

/* ------------------------------------------------------------ 
 Pricing Styles
 ------------------------------------------------------------ */

 .pricing {
 	width: 60%;
 	max-width: 1300px;
 	margin: 0 auto;
 	text-align: center;

 }

 .pricing-content-wrapper {
 	width: 100%;
 	position: relative;
 }

 .pricing-content-wrapper > div {
 	display: inline-block;
 	position: absolute;
 	background: #ffffff;
 	text-align: center;
 	min-width: 400px;
 	width: 35%;
 	margin: 2rem 0;
 	box-shadow: 0 2px 5px 5px rgba(0, 0, 0, 0.1);
 }

 .box-community,
 .box-enterprise {
 	top: 20px;
 }

 .box-community {
 	left: -20px;
 }

 .box-pro {
 	left: 50%;
 	top: 0;
 	transform: translateX(-50%);
 	z-index: 2;
 }

 .box-enterprise {
 	right: -20px;
 }

 .pricing input {
 	border: none;
 	color: #fff;
 	padding: 1rem;
 	text-transform: uppercase;
 	font-size: 1rem;
 	border-top-left-radius: 5px;
 	border-top-right-radius: 5px;
 	box-shadow: 0 -5px 7px 2px rgba(0, 0, 0, 0.1);
 	cursor: pointer;
 	height: 50px;
 	transition: all 0.3s ease;
 }

 .pricing input:hover {
 	height: 60px;
 }

 .pricing-boxhead {
 	background: #0f5378;
 	font-weight: 700;
 	font-size: 1.4375rem; /* 23px / 16px */
 	color: #f4e2be;
 	padding: 1rem;
 	margin: 0;
 	text-transform: uppercase;
 }

 .light-blue {
 	background: #166c9b;
 }

 .dark-blue {
 	background: #0f5378;
 }

 .pricing-descri {
 	padding: 1.5rem;
 	min-height: 750px;
 }

 .pro {
 	min-height: 790px;
 }

 .pricing-descri > ul {
 	list-style-type: none;
 }

 .pricing-descri > ul > li:before {
 	content: "\2714";
 	color: #dc636c;
 	padding-right: 10px;
 	margin-left: -30px;
 	line-height: 2;

 }

 .pricing-descri-head {
 	font-weight: 700;
 	color: #dc636c;
 	font-size: 1.3125rem; /* 21px / 16px */
 	margin-top: 0;
 }

 .pricing-descri-subhead {
 	margin: 1.5rem 0 0.5rem;
 }



/* ------------------------------------------------------------ 
 Quick Help Styles
 ------------------------------------------------------------ */



/* ------------------------------------------------------------ 
 Footer Styles
 ------------------------------------------------------------ */


 /* ------------------------------------------------------------ 
 Scroll To Top Button Styles
 ------------------------------------------------------------ */

 #scrollToTop {
 	background: #dc636c;
 	border: 2px solid rgba(255,255,255,0.5);
 	bottom: 15px;
 	color: #f4e2be;
 	cursor: pointer;
 	display: block;
 	font-family: 'Nunito', sans-serif;
 	opacity: 0;
 	outline: none;
 	padding: 0.6rem;
 	position: fixed;
 	right: 15px;
 	transition: 0.5s ease-in-out;
 	z-index: 10;
 }

 #scrollToTop i,
 #scrollToTop div {
 	position: relative;
 	opacity: 1;
 	top: 0;
 	transition: 0.3s ease-in-out;
 }

 #scrollToTop:hover i {
 	opacity: 0;
 	top: -40px;
 }

 #scrollToTop:hover div {
 	top: -10px;
 }

/* ------------------------------------------------------------ 
 Media Queries
 ------------------------------------------------------------ */

 @media screen and (min-width: 320px){

 	h1 {
 		font-size: 2.5rem; /* 40px / 16px */
 	}

 	 main {
 	margin-left: 50px;
 }

 	.about-us {
 		width: 90%;
 	}

 	.about-us-intro {
 		display: block;
 		width: 100%;
 		margin-bottom: 0;
 	}

 	.about-us-intro p {
 		margin-bottom: 0;
 	}

 	.about-us > div:last-child > p:last-child {
 		margin-bottom: 3rem;
 	}

 	.about-us-team-profile {
 		width: 100%;
 	}

 	.about-us-team-profile > ul {
 		border: 1px solid rgba(0,0,0,0);
 	}

 	.about-us-team-profile > ul > li {
 		display: block;
 		position: relative;
 		height: 100px;
 		width: 100px;
 		border-width: 5px;
 		margin: 5rem auto;
 	}

 	.about-us-team-profile > ul > li:nth-child(1) {
 		margin: 2rem auto 5rem;
 	}

 	.about-us-team-profile > ul > li:before {
 		font-size: 1.25rem; /* 20px / 16px */
 		min-width: 200px;
 	}

 	.about-us-team-profile > ul > li:after {
 		font-size: 1.125rem; /* 18px / 16px */
 	}

 	.pricing {
 		width: 100%;
 		position: relative;
 	}

 	.pricing-content-wrapper > div {
 		display: block;
 		min-width: 250px;
 		width: 80%;
 		position: relative;
 	}

 	.box-community,
 	.box-enterprise,
 	.box-pro {
 		left: 65%;
 		top:0;
 		transform: translateX(-65%);
 	}

 	#scrollToTop {
 	border: 1px solid rgba(255,255,255,0.5);
 	padding: 0.4rem;
 	font-size: 1rem;
 }

  #scrollToTop div {
  	display: none;
  }

 #scrollToTop:hover i {
 	opacity: 1;
 	top: -5px;
 }

  nav {
 	min-width: 50px;
 }

  .menuToggle {
 	width: 30px;
 	height: 30px;
 	top: 22px;
 	left: 9px;
 }

 .menu-line2 {
 	top: 8px;
 }
 .menu-line3 {
 	top: 16px;
 }

  .logo-sm {
 	left: -125%;
 	transform: rotate(-90deg) translate(-6%, 90%);
 	font-size: 1.8rem;
 	color: #f4e2be;
 	font-weight: 700;
 }

  .navigation {
 	width: 200px;
 	margin-left: -180px;
 }

 }

 @media screen and (min-width: 600px){


 	.about-us-team {
 		min-height: 250px;
 	}
 	.about-us-team-profile {
 		width: 100%;
 	}

 	.about-us-team-profile > ul {
 		border: 1px solid rgba(0,0,0,0);
 	}

 	.about-us-team-profile > ul > li {
 		display: inline-block;
 		position: relative;
 		height: 90px;
 		width: 90px;
 		border-width: 8px;
 		margin: 2rem 1.5rem;
 	}

 	.about-us-team-profile > ul > li:nth-child(1) {
 		margin: 2rem 1.5rem;
 	}

 	.pricing-descri {
 		min-height: 690px;
 	}

 	 #hamMenu:checked ~ main {
 	transform: translateX(150px);
 }

 }

 @media screen and (min-width: 800px){

 	.about-us-team {
 		min-height: 285px;
 	}

 	.about-us-team-profile > ul > li {
 		height: 120px;
 		width: 120px;
 		margin: 2rem 2.7rem;
 	}

 	.about-us-team-profile > ul > li:nth-child(1) {
 		margin: 2rem 2.7rem;
 	}

 	.pricing-content-wrapper {
 		width: 100%;
 		position: relative;
 	}

 	.pricing-content-wrapper > div {
 		display: inline-block;
 		min-width: 200px;
 		max-width: 230px;
 		margin: 1.5rem 0 2rem;
 	}

 	.box-community,
 	.box-enterprise,
 	.box-pro {
 		left: 0;
 		top:0;
 		transform: translateX(0);
 	}

 	.pricing-descri {
 		min-height: 980px;
 	}

 }

 @media screen and (min-width: 950px){

 	nav {
 	min-width: 70px;
 }

  main {
 	margin-left: 70px;
 }

  .navigation {
 	width: 260px;
 	margin-left: -220px;
 }

  .logo-sm {
 	left: -90%;
 	font-size: 2rem;
 }

 .menuToggle {
 	width: 40px;
 	height: 40px;
 	top: 25px;
 	left: 15px;
 }

 .menu-line2 {
 	top: 10px;
 }
 .menu-line3 {
 	top: 20px;
 }

 	.about-us-team-profile > ul > li {
 		height: 130px;
 		width: 130px;
 		margin: 2rem 4rem;
 	}

 	.about-us-team-profile > ul > li:before {
 		font-size: 1.375rem; /* 22px / 16px */
 	}

 	.about-us-team-profile > ul > li:after {
 		font-size: 1.25rem; /* 20px / 16px */
 	}

 	.pricing {
 		width: 90%;
 	}

 	.pricing-content-wrapper > div {
 		min-width: 275px;
 		max-width: 33.3333%;
 		position: absolute;
 		display: block;
 	}

 	.box-community,
 	.box-enterprise {
 		top: 20px;
 	}

 	.box-community {
 		left: 0;
 	}

 	.box-pro {
 		left: 50%;
 		top: 0;
 		transform: translateX(-50%);
 		z-index: 2;
 	}

 	.box-enterprise {
 		left: 100%;
 		transform: translateX(-100%);
 		right: 0;
 	}

 	.pricing-descri {
 		min-height: 850px;
 	}

 	 #hamMenu:checked ~ main {
 	transform: translateX(185px);
 }

  #scrollToTop {
 	border: 2px solid rgba(255,255,255,0.5);
 	font-size: 1.25rem;
 }

 #scrollToTop div {
 	display: block;
 }

 #scrollToTop:hover i {
 	opacity: 0;
 	top: -40px;
 }

 #scrollToTop:hover div {
 	top: -10px;
 }

 }


 @media screen and (min-width: 1050px){

 	.about-us-intro {
 		display: inline-block;
 		width: 48%;
 	}

 	.pricing-descri {
 		min-height: 800px;
 	}

 }

 @media screen and (min-width: 1350px){

 	.pricing-descri {
 		min-height: 720px;
 	}

 }
 
 @media screen and (max-width: 800px){
    
     #features{
         
    }
     .feature{
        width: 80%;
        height: 100%;
     }
     .feature-pic{
         height: auto;
         padding-bottom: 20px;
     }
     .feature-desc{
         min-height: 20px;
         height: auto;
     }
     
     .feature-btn{
        margin-top: 15px;
     }
     
     .feature-demo{
         width: 50vw;
     }
     
     
 }

 @media screen and (max-width: 600px){
     .adj{
         flex-direction: column;
     }
     
     .circle{
         width: 250px;
         height: 270px;
         margin-left: 0;
     }
     
     .chest-display{
         left: 76.5px;
     }
     
     .right-arm{
         left: 150px;
     }
     
     .left-arm{
         left: -25px;
     }
     
     .legs-container{
         left: 79px;
     }
     
     .home-desc{
         width:85%;
     }
     
     .robot-container{
        padding-top: 0px;
     }
}
