/* ------------------------------------------------------------ 
Description: Chingu Voyage 3 - Toucans-30 
Authors: Richard, Kyrizu, Monali Ghosh
------------------------------------------------------------ */

/* ------------------------------------------------------------ 
 Base Styles
------------------------------------------------------------ */

body {
	font-family: 'Nunito', sans-serif;
	font-size: 1.25rem; /* 20px / 16px */
	font-weight: 400;
	color: #000;
	background: #f4e2be;
}

.wrapper {
	width: 100%;
}

h1 {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 2.5rem; /* 40px / 16px */
	font-weight: 700;
	color: #000;
}

/* ------------------------------------------------------------ 
 Home Styles
------------------------------------------------------------ */


/* ------------------------------------------------------------ 
 About Us Styles
------------------------------------------------------------ */


/* ------------------------------------------------------------ 
 Pricing Styles
------------------------------------------------------------ */


/* ------------------------------------------------------------ 
 Quick Help Styles
------------------------------------------------------------ */


/* ------------------------------------------------------------ 
 Footer Styles
------------------------------------------------------------ */